<%= form_with(model: article) do |form| %>
  <%= render 'shared/errors' %>
  <div class="article-form shadow">
    <div class="form-group row article-item">
      <%= form.label :title, class: "col-2 col-form-label", style: "font-weight: bold;" %>
      <div class="col-10">
        <%= form.text_field :title, class: "form-control", placeholder: "Article title"%>
      </div>
    </div>
    <div class="form-group row article-item">
      <%= form.label :description, class: "col-2 col-form-label", style: "font-weight: bold;" %>
      <div class="col-10">
        <%= form.text_area :description, rows: 5, class: "form-control", placeholder: "Article description" %>
      </div>
    </div>
    <div class="text-end mt-5">
      <%= link_to "Back to articles", articles_path, class: "btn btn-secondary" %>
      <%= form.submit:Save, :class => "btn btn-success px-5" %>
    </div>
  </div>
<% end %>
