<div id="articles-header" class="row justify-content-md-center d-flex align-items-center mb-3">
  <div class="col-md-4">
    <h1 class="mt-4">Article Listing</h1>
  </div>
  <div class="col-md-4 mt-4 text-end">
    <a href="<%= new_article_path %>" class="btn btn-success">
      <i class="bi bi-plus-circle-fill"></i>&nbsp;&nbsp;
      New Article
    </a>
  </div>
</div>
<div class="row justify-content-md-center">
  <% @articles.each do |article| %>
    <div class="col-md-8">
      <div class="card text-center mb-4 shadow rounded">
        <div class="card-header" style="font-style: italic;">
          by KevinJSS
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-success text-decoration-none" %></h5>
          <p class="card-text"><%= truncate(article.description, length: 100) %></p>
          <div class="d-flex align-items-center text-center justify-content-center">
            <a href="<%= article_path(article) %>" class="btn btn-outline-success">View</a>
            <a href="<%= edit_article_path(article) %>" class="btn btn-outline-primary mx-1">Edit</a>
            <%= button_to "Delete", article_path(article), method: :delete, class: "btn btn-outline-danger" %>
          </div>
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(article.created_at)%> ago,
            edited <%= time_ago_in_words(article.updated_at) %> ago</small>
        </div>
      </div>
    </div>
  <% end %>
</div>
