<div class="row justify-content-md-center">
  <% @users.each do |user| %>
    <div class="col-md-8 mb-3">
      <div class="card text-center mb-4 shadow rounded">
        <div class="card-header" style="font-style: italic; font-size:18px;">
          <%= link_to user.username, user, class: "text-decoration-none" %>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to gravatar_for(user, size: 150), user %>
          </h5>
          <p class="card-text"><%= pluralize(user.articles.count, "article") %></p>
          <div class="d-flex align-items-center text-center justify-content-center">
            <%= link_to "View Profile", user, class: "btn btn-outline-success" %>
            
            <% if logged_in? && user == current_user %>
              <%= link_to "Edit Profile", edit_user_path(user), class: "btn btn-outline-primary mx-1" %>
            <% end %>
          </div>
        </div>
        <div class="card-footer text-muted">
          <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
        </div>
      </div>
    </div>
  <% end %>
</div>
