<div class="row justify-content-md-center">
  <div class="col-md-8 text-center">
    <h1 class="my-4"><%= @user.username %>'s Profile</h1>
    <% # <img src="https://www.gravatar.com/avatar/790bb6510e839399f28f8cf4586d07e3?s=220" class="rounded-5"/> %>
    <%= gravatar_for @user %>
    <br>
  </div>
  <% if logged_in? && @user == current_user || current_user != nil && current_user.admin? %>
    <div class="d-flex justify-content-md-center mb-4">
      <%= link_to "Edit profile", edit_user_path, class: "btn btn-outline-primary mx-1" %>
      <%= link_to "Delete account", user_path(@user), data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure you want to delete this profile?' }, class: "btn btn-outline-danger" %>
    </div>
  <% end %>
</div>
<div class="row justify-content-md-center">
  <div class="col-8 text-center">
    <h3 class="mt-4">Posted Articles</h3>
    <hr class="mb-4">
  </div>
  <% if @articles.size > 0 %>
    <div class="flickr_pagination mb-4">
      <%= will_paginate @articles, :container => false %>
    </div>
    <%= render "articles/articles" %>
    <div class="flickr_pagination mb-4">
      <%= will_paginate @articles, :container => false %>
    </div>
  <% else %>
    <div class="col-8 d-flex justify-content-center mt-2">
      <p class="fst-italic fw-bold text-muted">No posted articles . . .</p>
      &nbsp;&nbsp;
      <% if @user == current_user %>
        <a href="<%= new_article_path %>" class="fst-italic text-muted">
          Add an article
        </a>
      <% end %>
    </div>
  <% end %>
</div>
