<div class="row justify-content-md-center">
  <div class="col-md-8 text-center">
    <h1 class="my-4"><%= @user.username %>'s Profile</h1>
    <%# <img src="https://www.gravatar.com/avatar/790bb6510e839399f28f8cf4586d07e3?s=220" class="rounded-5"/> %>
    <%= gravatar_for @user %>
    <br>
  </div>
  <div class="col-md-8 text-center mb-3">
    <%= link_to "Edit your profile", edit_user_path, class: "btn btn-outline-primary mx-1"%>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-8 text-center">
    <h3 class="mt-4">Posted Articles</h3>
    <hr class="mb-4">
  </div>
  <% if @articles.size > 0%>
    <div class="flickr_pagination mb-4">
      <%= will_paginate @articles, :container => false %>
    </div>
    <%= render 'articles/articles' %>
    <div class="flickr_pagination mb-4">
      <%= will_paginate @articles, :container => false %>
    </div>
  <% else %>
    <div class="col-8 text-center mt-3">
      <p class="fst-italic fw-bold text-muted">No posted articles . . .</p>
    </div>
  <% end %>
</div>
