<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" id="logo" href="<%= root_path %>">Alpha Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Bloggers", users_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Articles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Article Listing", articles_path, class: "dropdown-item" %>
            <%= link_to "My Articles", user_path(current_user), class: "dropdown-item" if logged_in? %>
            <%= link_to "Create New Article", new_article_path, class: "dropdown-item" %>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to "About Us", about_path, class: "nav-link text-white" %>
        </li>
      </ul>
      <div class="d-flex gap-2">
        <% if logged_in? %>
          <%= link_to user_path(current_user), class: "btn btn-light" do %> 
            <%= "(Admin)" if current_user.admin? %> 
            <%= current_user.username %>&nbsp;&nbsp;<i class="bi bi-person-circle"></i>
          <% end %>
          <%= button_to logout_path, :method => "delete", class: "btn btn-danger mx-2" do %>
            Logout&nbsp;&nbsp;<i class="bi bi-box-arrow-right"></i>
          <% end %>
          
        <% else %>
          <%= link_to login_path, class: "btn btn-light" do %> 
            Log In&nbsp;&nbsp;<i class="bi bi-box-arrow-in-left"></i> 
          <% end %>
          <%= link_to signup_path, class: "btn btn-success" do %> 
            Sign Up&nbsp;&nbsp;<i class="bi bi-person-plus-fill"></i>
          <% end %>
          
        <% end %>
      </div>
    </div>
  </div>
</nav>
